{% extends 'iic/base.html' %}
{% block content %}

    <a href="/iic_editor/gateways/">Gateways</a>
<a href="/iic_editor/gateways/{{ gateway.pk }}/">{{ gateway }}</a>
<a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/">PageGroups</a>

<ul>
    {% for page_group in page_groups %}

            <li>
                <a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/">{{ page_group }}</a>
            <a href="/admin/iic/pagegroup/{{ page_group.pk }}/change/">Edit</a>
            </li>
{% empty %}
        <li>No items</li>
    {% endfor %}



</ul>
{% endblock %}