{% extends 'editor/administration/gateway/layout.html' %}

{% block nav_form %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2"
               type="search"
               name="q"
               value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}"
               placeholder="Search {{ gateway_profiles.paginator.count }} Profiles" aria-label="Search">

    </form>
{% endblock %}
{% block tab %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>


    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/iic_editor/gateways/">Gateways</a></li>
        <li class="breadcrumb-item"><a href="/iic_editor/gateways/{{ gateway.pk }}/">{{ gateway.name }} </a></li>
        <li class="breadcrumb-item active">Gateway Profiles</li>
    </ol>

    <a href="/iic_editor/gateways/{{ gateway.pk }}/gateway_profiles/export">Export</a>

    <ul>
        {% for page_group in gateway_profiles %}
            <li>
                <strong> uid {{ page_group.user.pk }}</strong>
                <strong> gpid {{ page_group.pk }}</strong>

                <a href="/iic_editor/gateways/{{ gateway.pk }}/gateway_profiles/{{ page_group.pk }}/">
                    {{ page_group.user.username }}
                    ({{ page_group.user.first_name }} {{ page_group.user.last_name }})</a> <br>

                <strong> msisdn </strong>: {{ page_group.msisdn }}
                <strong> email </strong> : {{ page_group.user.email }} <br>
                institution : {{ page_group.institution }}

                <strong class="editableT"
                        data-type="text"
                        data-name="institution"
                        data-pk="{{ page_group.pk }}"
                        data-url="/iic_editor/gateway_profiles/">{{ page_group.institution.pk }}</strong> <br>


                status : <strong class="editable status"
                                 data-type="select"
                                 data-name="status"
                                 data-pk="{{ page_group.pk }}"
                                 data-value="{{ page_group.status.pk }}"
                                 data-url="/iic_editor/gateway_profiles/">{{ page_group.status.name }}</strong> <br>


                PIN RETRIES : <strong class="editableT"
                                      data-type="text"
                                      data-name="pin_retries"
                                      data-pk="{{ page_group.pk }}"
                                      data-url="/iic_editor/gateway_profiles/">{{ page_group.pin_retries }}</strong> <br>

                Access Level
                <strong class="editable access_level"
                        data-type="select"
                        data-name="access_level"
                        data-pk="{{ page_group.pk }}"
                        data-value="{{ page_group.access_level.pk }}"
                        data-url="/iic_editor/gateway_profiles/">{{ page_group.access_level.name }}</strong>
                Role
                <strong class="editable role"
                        data-type="select"
                        data-name="role"
                        data-pk="{{ page_group.pk }}"
                        data-value="{% if page_group.role %}{{ page_group.role.pk }}{% else %}0{% endif %}"
                        data-url="/iic_editor/gateway_profiles/">
                    {% if page_group.role %}{{ page_group.role.name }}{% else %}None{% endif %}
                </strong> <br>

                 timezone <strong> {{ page_group.user.profile.timezone }}</strong>
                <br>

                Actions
                <a target="_blank" href="/admin/auth/user/{{ page_group.user.pk }}/delete/">Delete</a>
            </li>
        {% empty %}
            <li>No items</li>
        {% endfor %}

    </ul>



    {% if gateway_profiles.has_other_pages %}
        <ul class="pagination">
            {% if gateway_profiles.has_previous %}
                <li><a href="?page={{ gateway_profiles.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in gateway_profiles.paginator.page_range %}
                {% if gateway_profiles.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if gateway_profiles.has_next %}
                <li><a href="?page={{ gateway_profiles.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}




{% endblock %}
{% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">

        $.fn.editable.defaults.mode = 'inline';
        $.fn.editableform.buttons = '' +
            '<button type="submit" class="btn btn-info editable-submit"><i class="fa fa-fw fa-check"></i></button>' +
            '<button type="button" class="btn editable-cancel"><i class="fa fa-fw fa-remove"></i></button>';

        $.fn.editable.defaults.ajaxOptions = {
            type: "POST",
            beforeSend: function (xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }

            }
        };

        $(document).ready(function () {
            $('.access_level').editable({
                source: [
                    {% for access_level in all_access_levels %}
                    {value: {{ access_level.pk }}, text: '{{ access_level.name }}'},
                    {% endfor %}
                ]
            });

            $('.role').editable({
                source: [
                    {value: 0, text: 'None'},

                    {% for role in roles %}
                    {value: {{ role.pk }}, text: '{{ role.name }}'},
                    {% endfor %}
                ]
            });

            $('.status').editable({
                source: [
                    {% for profile_status in all_profile_status %}
                    {value: {{ profile_status.pk }}, text: '{{ profile_status.name }}'},
                    {% endfor %}
                ]
            });

            $('.editableT').editable();


        });
    </script>
{% endblock %}