[submodule "gus"]
	path = gus
	url = ./products/gus/
[submodule "muziqbit"]
	path = muziqbit
	url = ./products/muziqbit/
[submodule "nikobizz"]
	path = nikobizz
	url = ./products/nikobizz/
[submodule "products/gus"]
	path = products/gus
	url = https://bitbucket.org/interintel/switch.products.gus
