{% extends 'iic/base.html' %}
{% block content %}

        <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/iic_editor/gateways/">Gateways</a></li>
        <li class="breadcrumb-item"><a href="/iic_editor/gateways/{{ gateway.pk }}/">{{ gateway.name }} </a> </li>
        <li class="breadcrumb-item"><a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/">Page Groups</a>
        <li class="breadcrumb-item"><a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/">{{ page_group.name }}</a></li>
        <li class="breadcrumb-item"><a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/">Pages</a></li>
        <li class="breadcrumb-item"><a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/">{{ page.name }}</a> </li>
        <li class="breadcrumb-item "><a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/page_input_groups/">Page Input Groups</a> </li>
        <li class="breadcrumb-item "> <a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/page_input_groups/{{ page_input_group.pk }}/">{{ page_input_group.name }}</a> </li>
        <li class="breadcrumb-item active"> Page Inputs </li>


    </ol>



    <a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/page_input_groups/{{ page_input_group.pk }}/page_inputs/order/">Order
        Page Inputs</a>

    <a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/page_input_groups/{{ page_input_group.pk }}/page_inputs/create/">Add
        New</a>
    <ul>
        {% for page_input in page_inputs %}
            <li>
                <h3>{{ page_input.page_input }}</h3>
                <p>

                    <strong>{{ page_input.input_variable.variable_type }}</strong> |
                    pk <strong>{{ page_input.pk }}</strong> |
                   input_variable_pk <strong>{{ page_input.input_variable.pk }}</strong> |
                   name <strong>{{ page_input.input_variable.name }}</strong> |
                   default_value <strong>{{ page_input.input_variable.default_value }}</strong> |
                   service <strong>{{ page_input.input_variable.service }}</strong> |

                    level <strong>{{ page_input.item_level }}</strong> |
                    icon <strong>{{ page_input.icon }}</strong> |
                    section_size <strong>{{ page_input.section_size }}</strong>


                    <br>
                    <a href="/admin/iic/pageinput/{{ page_input.pk }}/change/">Edit</a> |
                     <a href="/iic_editor/gateways/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/page_input_groups/{{ page_input_group.pk }}/page_inputs/{{ page_input.pk }}/copy/">Template </a>
                </p>
            </li>
        {% empty %}
            <li>No items</li>
        {% endfor %}


    </ul>
{% endblock %}