{% extends 'iic/base.html' %}

{% block content %}
<div id="list">
{% for outbound in outbounds %}
    {% include 'notify/outbound/item.html' %}

{% endfor %}
</div>
{% endblock %}


{% block script %}
    <script type="text/javascript">

        jQuery(document).ready(function () {

            let lastId = {{ outbounds.first.id }};
            console.log(lastId);

            let list = document.getElementById('list');

            var status = $('.status'),
                poll = function () {
                    $.ajax({
                        url: '/iic_editor/outbound/updates?after='+lastId,
                        beforeSend: function (xhr, settings) {
                            /*
                            function getCookie(name) {
                                var cookieValue = null;
                                if (document.cookie && document.cookie !== '') {
                                    var cookies = document.cookie.split(';');
                                    for (var i = 0; i < cookies.length; i++) {
                                        var cookie = jQuery.trim(cookies[i]);
                                        // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }

                            function csrfSafeMethod(method) {
                                // these HTTP methods do not require CSRF protection
                                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                            }

                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                            }
                            */
                            // todo btn.html('<img src="/static/loader.gif">');
                        },
                        dataType: 'html',
                        type: 'get',
                        success: function (data) { // check if available
                            let notification = $.parseHTML(data)[0];
                            if(notification) {
                                list.insertBefore(notification, list.firstChild);
                            }
                            /*
                            status.text('Offline!');
                            if (data.live) { // get and check data value
                                status.text(data); // get and print data string
                                clearInterval(pollInterval); // optional: stop poll function
                            }
                            */

                        },
                        error: function (err) { // error logging
                            console.log(err);
                            console.log('Error!');
                        }
                    });
                },
                pollInterval = setInterval(function () { // run function every 2000 ms
                    poll();
                }, 5000);

            poll(); // also run function on init

        });


    </script>
{% endblock %}