{% extends 'iiceditor/base.html' %}
{% block content %}

        <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/">Gateways</a></li>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/">{{ gateway.name }} </a> </li>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/{{ service }}/page_groups/">Page Groups</a>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/{{ service }}/page_groups/{{ page_group.pk }}/">{{ page_group.name }}</a></li>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/{{ service }}/page_groups/{{ page_group.pk }}/pages/">Pages</a></li>
        <li class="breadcrumb-item active">{{ page.name }}</li>


    </ol>




<h4>{{ page.name }}</h4>

    <p>
    pk : <strong>{{ page.pk }}</strong> <br>
    item_level : <strong>{{ page.item_level }}</strong> <br>
    icon : <strong>{{ page.icon }}</strong> <br>

        <strong>Access Levels</strong>
    {% for access_level in page.access_level.all %}
        {{ access_level.name }} |
        {% empty %}
        All AccessLevels
    {% endfor %} <br>

    <strong>Gateways</strong>
    {% for gateway in page.gateway.all %}
        {{ gateway.name }} |
        {% empty %}
        All Gateways
    {% endfor %} <br>

        <strong>Services</strong>
    {% for service in page.service.all %}
        {{ service.name }} |
        {% empty %}
        All Services
    {% endfor %} <br>



    <br>
    <a href="/admin/iic/page/{{ page.pk }}/change/" target="_blank">Edit</a>
    <a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/{{ service }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/page_input_groups/">View Page Input Groups</a>

    </p>
{% endblock %}
