{% extends 'iic/base.html' %}
{% block content %}

    <ol class="breadcrumb">

  <li class="breadcrumb-item"><a href="/iic_editor/gateways/">Gateways</a></li>
{#<a href="/iic_editor/gateways/{{ gateway.pk }}/"></a>#}
  <li class="breadcrumb-item active">{{ gateway.name }}</li>
</ol>


<img src="{{ gateway.logo.url }}" alt="Logo" class="img-thumbnail" style="max-width: 200px">


<h4>{{ gateway.name }}</h4>
<span
        class="badge badge-pill badge-primary"
        style="background-color: {{ gateway.default_color }}"> Background Color </span>

    <br>

    <a href="/iic_editor/gateways/{{ gateway.pk }}/HOME/interface/">Interface</a>

    <a href="/iic_editor/gateways/{{ gateway.pk }}/gateway_profiles/">Profiles</a>
    <a href="/iic_editor/gateways/{{ gateway.pk }}/institutions/">Institutions</a>


    <br>
    <hr>
    <a href="/iic_editor/gateways/{{ gateway.pk }}/HOME/page_groups/">PageGroups</a>


{% endblock %}
