{% extends 'iic/base.html' %}
{% block content %}

    <ol class="breadcrumb">

  <li class="breadcrumb-item"><a href="/iic_editor/gateways/">Gateways</a></li>
{#<a href="/iic_editor/gateways/{{ gateway.pk }}/"></a>#}
  <li class="breadcrumb-item active">{{ gateway.name }}</li>
</ol>




<h4>{{ gateway }}</h4>

    <a href="/iic_editor/gateways/{{ gateway.pk }}/HOME/page_groups/">View Page Groups</a>
    <a href="/iic_editor/gateways/{{ gateway.pk }}/gateway_profiles/">View Profiles</a>

{% endblock %}
