{% extends 'iic/base.html' %}
{% load static %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/iic_editor/dsc/">Datalists</a></li>
        <li class="breadcrumb-item active">{{ data_list.title }}</li>
    </ol>

    <a href="/admin/dsc/datalist/{{ data_list.pk }}/change/" target="_blank">Datalist Edit</a>
    <a href="/admin/dsc/datalistquery/{{ data_list.query.pk }}/change/" target="_blank">Query Edit</a>

    <button type="button"
            class="btn btn-primary"
            id="duplicate"
            data-pk="{{ data_list.pk }}"
            data-toggle="modal"
            data-target="#duplicateDataListModal">
        Duplicate
    </button>

    <br>

    <div class="row">
        <div class="col-md-7">
            <!--

                Data List
                    ----------------------------------
                    dataname
                    status DSC.dataliststatus ACTIVE
                level=0
                title

                --------------------------------
                name
                description
                    module
                model
                values
             -->
            <input placeholder="Data Name"
                   value="{{ data_list.data_name }}"
                   name="data_name" type="text" required> <br>
            <input name="level"
                   value="{{ data_list.title }}"
                   type="text" value="0"> <br>
            <input placeholder="Title" name="title" type="text"> <br>
            {% if data_list.query %}

                {#    <p>{{ data_list.query.module_name }} {{ data_list.query.model_name }}</p>#}

                <label for="module">Module</label>
                <select id="module" name="module">
                    {% for node_system in modules %}
                        <option {% if node_system.name == data_list.query.module_name|upper %}selected{% endif %}
                                value="{{ node_system.URL }}">{{ node_system.name }}</option>
                    {% endfor %}

                </select>

                <label for="model">Model</label>
                <select id="model" name="model"></select>

                <div id="fields">


                </div>

                <p>Values</p>
                <div id="values">
                    {% for value in values %}
                        <div>
                            <input type="text" value="{{ value.label }}"> :
                            <input type="text" value="{{ value.path }}">
                        </div>
                    {% empty %}
                        <p>No Values</p>
                    {% endfor %}
                </div>
                <button onclick="textBoxCreate()">Add</button>
                <button id="saveValues">Save</button>
                <br>

                <div id="bloodhound">
                    <input class="typeahead" type="text" placeholder="States of USA">
                </div>

                <br>

                <p>Links</p>
                <div id="links">
                    {% for link in data_list.query.datalistlinkquery_set.all %}
                        <div>
                            <input type="text" value="{{ link.link_name }}"> :
                            <input type="text" value="{{ link.link_service.name }}"> :
                            <input type="text" value="{{ link.link_icon }}">
                            <input type="text" value="{{ link.link_params }}">
                            <!-- TODO add link params -->
                            <button>-</button>
                        </div>

                    {% empty %}
                        <p>No links</p>
                    {% endfor %}

                </div>
                <button onclick="linkInputCreate()">Add</button>
                <button id="saveLinks">Save</button>

            {% else %}
                Function <a href="#">{{ data_list.function }}</a>
            {% endif %}

        </div>
        <div class="col-md-5">
            <h3>Page Inputs Usage</h3>
            <ul class="list-group">
                {% for page_input in usages %}
                    <li class="list-group-item list-group-item-
                        {% if page_input.page_input_status.name == 'ACTIVE' %}{% else %}danger{% endif %}">
                        {{ page_input.page_input }}
                        <strong>{{ page_input.input_variable.variable_type }}</strong>
                        {{ page_input.input_variable.pk }}
                        <a href="/iic_editor/gateways/{{ page_input.page.gateway.first.pk }}/{{ page_input.page.service.first.name }}/interface/{{ page_input.page.page_group.pk }}/{{ page_input.page.pk }}/{{ page_input.page_input_group.pk }}/">view</a>
                        <br>
                        {% for link in links %}
                            <div>
                                <a href="/iic_editor/gateways/{{ request.GET.gateway_pk }}/{{ link.service }}/interface/">
                                    {{ link.label }} <span class="fa fa-caret-right"></span>
                                </a>
                            </div>
                        {% endfor %}

                    </li>
                {% empty %}
                    <li class="list-group-item">No items</li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="modal fade" id="duplicateDataListModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/iic_editor/dsc/{{ data_list.data_name }}/duplicate" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="new_data_name" class="col-form-label">data_name</label>
                            <input type="text" class="form-control" value="{{ data_list.data_name }}" id="new_data_name"
                                   name="new_data_name">
                        </div>
                        <div class="form-group">
                            <input class="form-control btn btn-primary" type="submit">
                        </div>
                    </form>
                </div>
                {#      <div class="modal-footer">#}
                {#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
                {#        <button type="button" class="btn btn-primary">Send message</button>#}
                {#      </div>#}
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript">
        function textBoxCreate() {
            var container = document.createElement('DIV');
            container.innerHTML = '<input placeholder="label" type="text"> : ' +
                '<input placeholder="Prop Path" type="text">';
            document.getElementById("values").appendChild(container);

        }

        function linkInputCreate() {
            var container = document.createElement('DIV');
            container.innerHTML = '<input placeholder="label" type="text"> : ' +
                '<input placeholder="Service" type="text"> : ' +
                '<input placeholder="Icon" type="text">';

            document.getElementById("links").appendChild(container);

        }


        function loadModelFields() {

            var module = $('select#module').val();
            var model = $('select#model').val();

            $.ajax({
                url: "/iic_editor/dsc/fields/",
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }

                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                    // todo btn.html('<img src="/static/loader.gif">');
                },
                data: {module: module, model: model},
                type: 'GET',
                success: function (data) {
                    // console.log(data);
                    $('#fields').html(data);

                    // update selection


                }
            });
        }

        function loadModels() {
            $.ajax({
                url: "/iic_editor/dsc/models/",
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }

                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                    // todo btn.html('<img src="/static/loader.gif">');
                },
                data: {module: $('select#module').val(), model: '{{ data_list.query.model_name }}'},
                type: 'GET',
                success: function (data) {
                    // console.log(data);
                    $('#model').html(data);
                    loadModelFields();
                }
            });
        }

        $(function () {


            $("select#module").change(loadModels);
            $("select#model").change(loadModelFields);


            // load models from templated selection
            loadModels();



            $("#saveLinks").click(function () {

                var genLinks = [];

                $('#links').children('div').each(function () {
                    console.log(this);
                    var genLink = [];
                    $(this).children('input').each(function () {
                        genLink.push($(this).val())
                    });
                    genLinks.push(genLink.join('%'))
                });

                console.log(genLinks);

                $.ajax({
                    url: "/iic_editor/dsc/{{ data_list.data_name }}/",
                    beforeSend: function (xhr, settings) {
                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }

                        function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }

                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        }
                        // todo btn.html('<img src="/static/loader.gif">');
                    },
                    data: {name: 'links', value: genLinks.join('|')},
                    type: 'POST',
                    success: function (data) {
                        console.log(data);

                        // $('#model').html(data);
                    }

                });
            });

            $("#saveValues").click(function () {

                var genLinks = [];

                $('#values').children('div').each(function () {
                    // console.log(this);
                    var genLink = [];
                    $(this).children('input').each(function () {
                        genLink.push($(this).val())
                    });
                    genLinks.push(genLink.join('%'))
                });

                // console.log(genLinks);

                $.ajax({
                    url: "/iic_editor/dsc/{{ data_list.data_name }}/",
                    beforeSend: function (xhr, settings) {
                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }

                        function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }

                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        }
                        // todo btn.html('<img src="/static/loader.gif">');
                    },
                    data: {name: 'values', value: genLinks.join('|')},
                    type: 'POST',
                    success: function (data) {
                        console.log(data);

                        // $('#model').html(data);
                    }

                });
            })


            var statesS = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
                'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
                'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
                'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
                'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
                'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
                'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
                'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
                'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
            ];

            // bloodhound
            // ----------

            // constructs the suggestion engine

            $('#bloodhound .typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    name: 'states',
                    source: statesS
                });


        })


    </script>
{% endblock %}
