{% extends 'iic/base.html' %}
{% block content %}
       <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/iic_editor/gateways/">Gateways</a></li>
        <li class="breadcrumb-item"><a href="/iic_editor/gateways/{{ gateway.pk }}/">{{ gateway.name }} </a> </li>
        <li class="breadcrumb-item">Service</li>
        <li class="breadcrumb-item active">Create </li>

    </ol>

<h4>Create Service </h4>

    <form method="POST" action="/iic_editor/services/create/" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}
