{% extends 'iiceditor/base.html' %}
{% block content %}

            <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/">Gateways</a></li>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/">{{ gateway.name }} </a> </li>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/page_groups/">Page Groups</a>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/">{{ page_group.name }}</a></li>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/">Pages</a></li>
        <li class="breadcrumb-item"><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/">{{ page.name }}</a> </li>
        <li class="breadcrumb-item "><a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/page_input_groups/">Page Input Groups</a> </li>
        <li class="breadcrumb-item "> <a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/page_input_groups/{{ page_input_group.pk }}/">{{ page_input_group.name }}</a> </li>
        <li class="breadcrumb-item "> <a href="/admin/iiceditor/iiceditor/{{ gateway.pk }}/page_groups/{{ page_group.pk }}/pages/{{ page.pk }}/page_input_groups/{{ page_input_group.pk }}/page_inputs/">Page Inputs</a> </li>
        <li class="breadcrumb-item active"> {{ page_input.page_input }} </li>


    </ol>



<h4>{{ page_input }}</h4>
<a href="/admin/iic/pageinput/{{ pageinput.pk }}/change/">Edit</a>

{% endblock %}
